img 
{
	width:300px;
	border-radius:4px;
}

h1, p, li
{
	width:500px;
	margin:auto;
	text-align:center;
	font-family:"Futur";
}

@font-face 
{
	font-family: "Futur";
	src: url("futur.ttf");
}

#full
{
	overflow:hidden;
}

ul
{
		list
}